<div id="top-pick"></div>
<section class="top-pick">
    <h2>top<br>pick<br>article</h2>
    <ul>
        <li class="active"><a href="#top-pick">all posts</a></li>
        {% for category in site.categories %}
        <li><a href="{{ category[0] }}">{{ category[0] }}</a></li>
        {% endfor %}
    </ul>

    {% for category in site.categories %}
    {% assign post = category.last | first %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    <img src="assets/img/top.jpg" alt="">
    <div class="preview-top">
        <div>
            <img src="assets/img/person.jpg" alt="">
            <p>Alison Burgas</p>
        </div>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste culpa ducimus delectus ullam, laudantium minus voluptatibus distinctio totam accusamus ea voluptas saepe odio a perspiciatis ratione dolorem quas excepturi tempore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste culpa ducimus delectus ullam, laudantium minus voluptatibus distinctio totam accusamus ea voluptas saepe odio a perspiciatis ratione dolorem quas excepturi tempore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste culpa ducimus delectus ullam, laudantium minus voluptatibus distinctio totam accusamus ea voluptas saepe odio a perspiciatis ratione dolorem quas excepturi tempore.
        </p>
    </div>
    {% endfor %}
</section>